@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

* {
    font-family: 'Mulish', sans-serif;
    box-sizing: border-box;
}

/* BODY/STRUCTURE */
body {
    color: #F5F5F5;
    background-size: cover;
    font-size: calc(10px + (20 - 10) * ((100vw - 500px) / (2560 - 500)));
    background: rgba(51, 56, 57, 1);
    backdrop-filter: blur(0.5px);
    margin: 0;
    margin-bottom: 1%;
    width: 100%;
    scrollbar-gutter: stable;
}

body:last-child {
    text-align: center;
}

div, legend, fieldset, img, video {
    border-radius: 15px;
}

fieldset {
    border: none;
    padding: 0;
    margin: 0;
}

legend {
    font-size: calc(25px + (36 - 25) * ((100vw - 500px) / (2560 - 500)));
    background-color: #6b43ff;
    padding: 0px 6px 5px 6px;
    animation: go-left-right 3s infinite alternate;
    position: relative;
    display: inline-block;
}

ul {
    padding-inline-start: 0px;
}

u {
    color: #F5F5F5;
}

h4 {
    text-align: start;
}

thead, tbody {
    background-color: #c2c2c236;
    border-radius: 5px;
}

td {
    padding: 5px;
}

a {
    cursor: pointer;
    text-decoration: none;
    color: #F5F5F5;
}

a:hover {
    transition: all 0.3s ease;
    color: #6667b0;
}

form {
    margin-block-end: 0;
}

/* TEXTE */
.list_condition_de_vente, u {
    text-align: left;
    padding: 0px 0px 5px 0px;
    margin-left: calc(2px + (10 - 2) * ((100vw - 500px) / (2560 - 500)));
    margin-right: calc(2px + (10 - 2) * ((100vw - 500px) / (2560 - 500)));
    color: #6667b0;
}

.list_condition_de_vente span {
    color: #c2c2c2;
}

.liste_abc_none_style {
    margin-bottom: calc(15px + (30 - 15) * ((100vw - 500px) / (2560 - 500)));
    margin-left: calc(10px + (20 - 10) * ((100vw - 500px) / (2560 - 500)));
    margin-right: calc(10px + (20 - 10) * ((100vw - 500px) / (2560 - 500)));
    color: #F5F5F5;
    text-decoration: none;
    list-style-type: none;
}

.icons_sous_bar {
    width: 25%;
    height: 25%;
}
