/* FORMS LOGIN REGISTER */
#body_menu_condition_vente, #body_menu_politique, #body_login_page {
    text-align: center;
    margin-top: calc(25px + (75 - 25) * ((100vw - 500px) / (2560 - 500)));
    margin-bottom: calc(25px + (75 - 25) * ((100vw - 500px) / (2560 - 500)));
    margin-left: calc(125px + (300 - 125) * ((100vw - 500px) / (2560 - 500)));
    margin-right: calc(125px + (300 - 125) * ((100vw - 500px) / (2560 - 500)));
    background: rgba(0, 0, 0, 0.164);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.199);
}

.container_login {
    width: calc(440px + (660 - 440) * ((100vw - 500px) / (2560 - 500)));
    padding-top: calc(40px + (200 - 40) * ((100vw - 500px) / (2560 - 500)));
    padding-bottom: calc(40px + (200 - 40) * ((100vw - 500px) / (2560 - 500)));
    padding-left: calc(32px + (160 - 32) * ((100vw - 500px) / (2560 - 500)));
    padding-right: calc(32px + (160 - 32) * ((100vw - 500px) / (2560 - 500)));
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.199);
    margin: 70px auto 70px auto;
    background: rgba(0, 0, 0, 0.11);
}

.container_login form .block_login .input_login {
    color: #F5F5F5;
    font-size: 16px;
    width: 100%;
    height: 46px;
    border: 1px solid #F5F5F5;
    background: transparent;
    outline: none;
    border-radius: 8px;
    text-indent: 20px;
    margin-top: 6px;
}
